@charset "UTF-8";

main {
	width:960px;
	margin:20px auto;
	padding:20px;
}

#Product_container {
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-gap:10px;
	margin-bottom:20px;
	border-radius: 10px;
	border:1px solid;
}

#Product_info1_container {
	width:100%;
	height:350px;
	padding:10px;
}

#Product_img {
	width:100%;
	height:100%;
}
#Product_info2_container {
	width:100%;
	height:350px;
	padding:10px;
}
#prodetailBox{
	height: 80%;
	margin: 10px 0;
	display : flex;
	align-items : center;
}
#info2_detail{
	height:30%;
}
#info2_detail2 {
	position: relative;
}
#likeBox{
	height: 60px;
}
#likeBtn{
	background-color:white;
	border:0;
	padding:10px 0;
}
#info2_img{
	border:1px solid;
}
#button_Container{
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-gap:10px;
	height:15%;
	margin-top:20px;
}
#chatBtn {
	width:100%;
	border:0;
	border-radius: 10px;
	background-color:#BFF6B6;
}
#chatBtn a{
	text-decoration:none;
	color:black;
	font-weight:bold;
}
#tradeBtn{
	width:100%;
	border:0;
	border-radius: 10px;
	background-color:#BFF6B6;
	
}
#tradeBtn a{
	text-decoration:none;
	color:black;
	font-weight:bold;
}

#seller_container {
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-gap:10px;
	margin-top:20px;
	margin-bottom:20px;
}
#Product_ment {
	border:1px solid;
	width:100%;
	height:300px;
	padding:10px;
	border-radius: 10px;
}
#Seller_info {
	border:1px solid;
	width:100%;
	height:300px;
	padding:10px;
	border-radius: 10px;
}
#map {
	border:1px solid;
	width:100%;
	height:350px;
}
#go_MarketPrice{
	font-size: 13px;
	text-decoration:none;
	color: gray;
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px;
}
#go_MarketPrice:hover{
	text-decoration:none;
	color: black;
	font-weight: bold;
}
#redheart{
	fill: red;
}
#info_detail1 {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 20px;
}

#moreinfo{
	font-size: 13px;
	text-decoration:none;
	color: gray;
	position: absolute;
	right: 0;
	bottom: 0;
}
#moreinfo:hover{
	text-decoration:none;
	color: black;
	font-weight: bold;
}
#info_box {
	position: relative;
	height: 80%;
}






